.header__link {
  margin-top: 6px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 425px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
}