@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter_Web/inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__authorized/header__authorized.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__logout-button/header__logout-button.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__info-name/profile__info-name.css);
@import url(./blocks/profile/__info-description/profile__info-description.css);
@import url(./blocks/profile/__info-edit/profile__info-edit.css);
@import url(./blocks/profile/__add/profile__add.css);
@import url(./blocks/places/places.css);
@import url(./blocks/place/place.css);
@import url(./blocks/place/__image/place__image.css);
@import url(./blocks/place/__info/place__info.css);
@import url(./blocks/place/__title/place__title.css);
@import url(./blocks/place/__delete/place__delete.css);
@import url(./blocks/place/__delete/_active/place__delete_active.css);
@import url(./blocks/place/__like-container/place__like-container.css);
@import url(./blocks/place/__like/place__like.css);
@import url(./blocks/place/__like-count/place__like-count.css);
@import url(./blocks/place/__like/_active/place__like_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_open/popup_open.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_delete-card/popup__title_delete-card.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__save/_inactive/popup__save_inactive.css);
@import url(./blocks/popup/__content/_form/popup__content_form.css);
@import url(./blocks/popup/__content/_image/popup__content_image.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-caption/popup__image-caption.css);
@import url(./blocks/popup/_place-image/popup_place-image.css);
@import url(./blocks/figure/figure.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__button/login__button.css);
@import url(./blocks/register/register.css);
@import url(./blocks/register/__form/register__form.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__button/register__button.css);
@import url(./blocks/register/__login-sign/register__login-sign.css);
@import url(./blocks/register/__login-link/register__login-link.css);
@import url(./blocks/popup/__content/_register-tooltip/popup__content_register-tooltip.css);
@import url(./blocks/popup/__register-tooltip-img/popup__register-tooltip-img.css);
@import url(./blocks/popup/__title/_register-tooltip/popup__title_register-tooltip.css);